<ion-header>
    <ion-navbar text-center>
      <ion-title >
        Connected Litter Box
      </ion-title>

      <ion-buttons start *ngIf="!connected">
          <button ion-button color="dark" icon-only item-left  (click)="navCtrl.push('ConfigPage')">
            <ion-icon name="cog"></ion-icon>
          </button>
        </ion-buttons>

      <ion-buttons end>
        <button ion-button (click)="scan()">
          Scan
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content>


        <ion-card >
        <ion-row >
         
          <ion-item *ngIf="!discovered"><h1>Searching for litter box...</h1></ion-item>
          <ion-item *ngIf="discovered && !connected"><h1>Litter Box found!</h1></ion-item>
          <ion-item *ngIf="connected"><h1>Litter Box connected!</h1></ion-item>
        </ion-row>
        <ion-row>
          <ion-col>
          <button ion-button large round color="secondary" (click)="connectDevice();" >Connect</button>
        </ion-col>
        <ion-col>
            <button ion-button large round color="danger" (click)="onDeviceDisconnected(peripheral)" >Disconnect</button>
          </ion-col>
       
      </ion-row>
  
    </ion-card >

     
<!--        
      <ion-item no-lines text-center class="circle" *ngIf="scaleDataProvider.urineDetected" [ngStyle]="{ 'background-color': scaleDataProvider.urineDetected? 'red': 'green' }">
        <br><br>

        <div> 
          <br><br>
          <h1 style="font-size:40px;">Urine Detected:</h1>
        
        </div>

        </ion-item> -->
        <br><br><br>
<!-- 
        <p>Urine: {{scaleDataProvider.urineDetected}}</p> -->

        <ion-grid>
          <ion-row align-items-center>
            <ion-col>

                <ion-item text-center no-lines *ngIf="scaleDataProvider.catDetected">
                    <ion-row align-items-center justify-content-center>
                    
                          <img style="width: 80px; " src="assets/imgs/cat-icon.png">
                  
                      </ion-row>
                      <br>
                      <ion-row align-items-center justify-content-center>
               
                            <h1 style="font-size:38px;"><strong>Cat climbed in,<br> she's ready to go!</strong></h1>
                      </ion-row>

                  </ion-item>


        
                <ion-item text-center no-lines *ngIf="scaleDataProvider.urineDetected">
                    <ion-row align-items-center justify-content-center>
                    
                          <img style="width: 80px; " src="assets/imgs/urine.png">
                  
                      </ion-row>
                      <br>
                      <ion-row align-items-center justify-content-center>
               
                            <h1 style="font-size:45px;"><strong>Urine detected, <br> Time to Scoop!</strong></h1>
                      </ion-row>

                  </ion-item>

                  <ion-item text-center no-lines *ngIf="scaleDataProvider.scoopDetected">
                      <ion-row align-items-center justify-content-center>
                      
                            <img style="width: 80px; " src="assets/imgs/scooper.png">
                    
                        </ion-row>
                        <br>
                        <ion-row align-items-center justify-content-center>
                 
                              <h1 style="font-size:45px;"><strong>You scooped! <br>Good job</strong></h1>
                        </ion-row>
  
                    </ion-item>


    
                  
                  </ion-col>
          </ion-row>
        </ion-grid>


        <br><br>
      

</ion-content>

<ion-footer  *ngIf="connected">

    <ion-toolbar>
              
        <ion-item no-lines >
          <ion-grid>
            <ion-row align-items-center>
              <ion-col>
                  <button ion-button large round (click)="tare()">Tare scale</button>
              </ion-col>
              <ion-col>
                  Weight reading: {{weight | number: '0.1-1'}}
              </ion-col>
            </ion-row>
          </ion-grid>
            
            
          </ion-item>
         
      </ion-toolbar>
<!--       
  <ion-row  *ngIf="connected"></ion-row>
    <ion-col>
      
        <ion-item no-lines >
        <button ion-button large round (click)="tare()">Tare scale</button>
      </ion-item>
    </ion-col>

    <ion-col>
        <ion-item>Weight detected: {{weight | number: '0.1-1'}}</ion-item>
    </ion-col>



  </ion-row> -->

</ion-footer>